
/* 
fonts:

font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;

#FFE492
#4F9CF9
#043873
*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@400;500;700&display=swap');

/* Basic css */

body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
 
    color: #fff;
}
.theme-button{
    display: inline-block;
    background: #4fdefd;
    border-radius: 8px;
    padding: 16px 24px !important;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}

.theme-button:hover{
    background: #ffe492;
    color:#fff
}

.theme-button-small{
    display: inline-block;
    background: #ffe492;
    border-radius: 8px;
    padding: 16px 24px !important;
    color:#043873 !important;
}

/* header css */

.header-area{
    background-color:#043873 ;
    padding: 16px 0;
}
.header-area .nav-link{
    color: #ffffff !important;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500 ;
    margin-left: 24px;
}

.header-area .theme-button{
    margin-left: 24px;
}

.header-area .theme-button-small{
    margin-left: 24px;
}

/* hero area */

.hero-text h3{ 
    font-size: 52px;
    font-weight: 700;
}
.hero-area {
    padding: 140px 0;
    background-image: url(images/herobg.png);
}
 

/* mediao quriews */

@media (max-width:991px){
    .theme-button{
        width: 100%;
        margin-left: 24px;
        text-align: center;
    }
    .theme-button-small{
        width: 100%;
        margin-left: 0px;
        text-align: center;
        margin-top: 15px;
    }

    .header-area .nav-link{
        padding: 16px 0;
        margin-top: 15px;
    }

    .header-area .navbar-toggler {
        border: none;
        box-shadow: none;
    }

    .header-area .nav-link{
        position: relative;
    }
    
    .header-area .nav-link::after {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
    }

}